body{
    width:1024px;
    height: auto;
    margin:auto;
    font-family: sans-serif;
    background-color: #d3d3d3;
}

header {
    background-color: #888;
    padding: 30px;
    text-align: left;
    font-size: 15px;
    color: red;
  }
  

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: black;
  }
  

form{
    top:0px;
    column-width: 100%;
    border: 1px solid red;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: magenta;
    
    }
  
    li {
    float: left;
    }
  
    li a {

    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

   
    .sitename{
        display: block;
        top:0px;
        height:30px;
        width: 200px;
        padding: 15px;
        border: 0px solid blue;  
        background-color: yellow; 
    }
        
    .htmlpage {
        display: block;
        position: absolute;
        right: 450px;
        text-transform: uppercase;
        text-align: center;
        width: 200px;
        top:0px;
        height: 30px;
        padding: 15px;
        border: 0px;
        background-color: cyan; 
        }
    
    










    